<!doctype html>
<html ng-app="homeroomApp">

<head>
    <title>WarPi Homeroom</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/homeroomstyle.css">
</head>

<body ng-controller="homeroomController">

    <span ng-repeat="message in data.messages">{{message}}</span>
    <form>
        <input ng-model="writtenMessage" id="m" autocomplete="off" />
        <button ng-click="sendMessage()">Send</button>
    </form>

    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.1.0/angularfire.js"></script>
    <script src="/javascripts/homeroomController.js"></script>

    <script>
        var config = {
            apiKey: "AIzaSyDQnbQNioVr6yJUCqwFioOjqDgj0qjd69w",
            authDomain: "warpi-c2a8c.firebaseapp.com",
            databaseURL: "https://warpi-c2a8c.firebaseio.com",
            storageBucket: "warpi-c2a8c.appspot.com",
            messagingSenderId: "586364425770"
        };
        firebase.initializeApp(config);
    </script>
</body>

</html>